openapi: "3.0.0"
info:
  version: 1.0.0
  title: Jerens Web App
  description: RESTful Api for supporting jerens web app
  contact:
    name: Jerens Lensun
    url: https://www.jerenslensun.com/
servers:
  - url: https://api.jerenslensun.com/api
    description: Production Server
paths:
  /notification/subscribe:
    post:
      summary: Subscribe to notification
      operationId: subscribeNotification
      requestBody:
        description: Sending new push notification token to subscribe from a client
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
      responses:
        '201':
          description: response subscribe from server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notification/unsubscribe:
    post:
      summary: Unsubscribe to notification
      operationId: unsubscribeNotification
      requestBody:
        description: Sending push notification Token to unsubscribe from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
      responses:
        '200':
          description: Response Unsubscribe from server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notification/status:
    post:
      summary: Subscriber Status
      operationId: subscriberStatus
      requestBody:
        description: Sending push notification Token to get status from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
      responses:
        '200':
          description: todo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notification/stats:
    get:
      summary: Subscriber Stats
      operationId: subscriberStats
      responses:
        '200':
          description: todo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []

  /notification/send:
    post:
      summary: Send notification to all subscriber
      operationId: sendNotification
      requestBody:
        description: Sending push notification message to all subscribers from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: todo
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - ApiKeyAuth: []

components:
  schemas:
    Subscriber:
      required:
        - tokenID
        - updatedAt
      properties:
        tokenID:
          type: string
          example: "secret123"
          description: Client Token
        updatedAt:
          type: integer
          format: int64
          example: 1657514549
          description: Last updated date
    Status:
      required:
        - isActive
        - updatedAt
      properties:
        isActive:
          type: boolean
          example: false
          description: Subscriber status
        updatedAt:
          type: integer
          format: int64
          example: 1657514549
          description: Last updated date
    Message:
      required:
        - title
        - message
      properties:
        title:
          type: string
          example: "New Article"
          description: Notification title
        message:
          type: string
          example: "Article about something"
          description: Notification message
    Stats:
      required:
        - totalSubs
        - totalActiveSubs
        - totalInactiveSubs
      properties:
        totalSubs:
          type: integer
          example: 10
          description: Total subscribers
        totalActiveSubs:
          type: integer
          example: 7
          description: Totala active subscribers
        totalInactiveSubs:
          type: integer
          example: 3
          description: Total inactive subscribers

    Error:
      type: object
      required:
        - slug
        - message
      properties:
        slug:
          type: string
        message:
          type: string
  securitySchemes:
    ApiKeyAuth:        
      type: apiKey
      in: header       
      name: X-API-KEY 